nav {
    background-color:darkolivegreen;
    display: flex;
    justify-content: space-between;
    position:fixed;
    height: 10vh; 
    z-index: 999;
    width: 100%;
    letter-spacing: .1rem;
}
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}
nav img {
    border-bottom: 0.1px solid darkolivegreen;
    border-radius: 3px;
}
nav ul li {
    margin-right: 25px;
    font-size: 15px;   
}
nav ul li a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 0.1em 0.3em 0.8em rgb(56, 55, 55);
}
nav ul li a:hover {
    box-shadow: 1px 6px 1px 1px darkolivegreen;
    color: rgb(0, 0, 0);
    transition: 0.5s;
}
nav ul li button {
    width: 150px;
    color: darkolivegreen;
    text-shadow: 0.2em 0.4em 0.7em black;
    box-shadow: 6px 6px 6px 6px rgb(72, 90, 22);
    border-radius: 25px;
    font-size: 20px;
    border: 1px bold rgba(58, 116, 51, 0.5);
    height: 50px;
}
nav ul li button:hover {
    background-color:darkolivegreen;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 6px 6px 6px 6px rgb(72, 90, 22);
    border: 1px bold rgba(58, 116, 51, 0.5);
    color: white;
    transition: 0.5s;
}
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./../assets/33.jpg);
    background-size: cover; 
}
.hero .text-content {
    color:rgb(0, 0, 0);
    text-shadow: 0.5em 0.4em 0.5em rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;   
}
.hero .text-content h1 {
    font-size: 70px;
    margin-bottom: 100px;
    letter-spacing: .4rem;
    line-height: 4rem;
}
.hero .text-content h3 {
    font-size: 35px;
    margin-bottom: 100px;
    letter-spacing: .2rem;
    line-height: 2rem;
    text-shadow: 0.5em 0.4em 0.5em rgb(5, 5, 5);
    background-color: rgb(230, 220, 220, 0.4) 
}
.hero .text-content button {
    width: 300px;
    background-color: rgba(240, 240, 240, 0.5);
    box-shadow: 6px 6px 6px 6px rgb(72, 90, 22);
    border-radius: 45px;
    font-size: 23px;
    color:rgb(0, 0, 0);
    height: 80px;
    border: 1px bold rgba(58, 116, 51, 0.5);
}
.hero .text-content button a {
    text-decoration: none;
    color:rgb(0, 0, 0);

}
.hero .text-content button:hover {
    background-color: rgb(153, 190, 87, 0.5);
    border: 1px solid rgb(153, 190, 87);
    box-shadow: 6px 6px 6px 6px rgb(72, 90, 22);
    text-shadow: 0.2em 0.4em 0.5em black;
    transition: 0.5s;
}
.atividades h2 {
    font-size: 70px;
    font-weight: bold;
    position: center;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 100px;
    letter-spacing: 0.2rem;
    text-shadow: 0.1em 0.1em 0.2em darkolivegreen;

}
.atividades .item {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.atividades .item1 {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 80%;
}
.atividades .item2 {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.atividades .item3 {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 80%;
}
.atividades .item4 {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.atividades .item5 {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 80%;
}
.atividades .item6 {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.atividades .item8 {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 80%;
}
.atividades .itemPhoto .imgItem {
    width: 70%;
    height: auto;
    box-shadow: -6px 6px 6px 6px rgb(72, 90, 22);
}
.atividades .itemPhoto1 .imgItem1 {
    width: 70%;
    height: auto;
    margin-left: 300px;
    box-shadow: 6px 6px 6px 6px rgb(72, 90, 22);
}
.atividades .itemPhoto2 .imgItem2 {
    width: 70%;
    height: auto;
    box-shadow: -6px 6px 6px 6px rgb(72, 90, 22);
}
.atividades .itemPhoto3 .imgItem3 {
    width: 70%;
    height: auto;
    margin-left: 300px;
    box-shadow: 6px 6px 6px 6px rgb(72, 90, 22);
}
.atividades .itemPhoto4 .imgItem4 {
    width: 71%;
    height: auto;
    box-shadow: -6px 6px 6px 6px rgb(72, 90, 22);
}
.atividades .itemPhoto5 .imgItem5 {
    width: 70%;
    height: auto;
    margin-left: 300px;
    box-shadow: 6px 6px 6px 6px rgb(72, 90, 22);
}
.atividades .itemPhoto6 .imgItem6 {
    width: 70%;
    height: auto;
    box-shadow: -6px 6px 6px 6px rgb(72, 90, 22);
}

.atividades .itemPhoto8 .imgItem8 {
    width: 70%;
    height: auto;
    margin-left: 320px;
    box-shadow: 8px 4px 4px 4px rgb(72, 90, 22);
}
.atividades .item .item-text  {
    display: flex;
    font-size: 20px;
    text-align: right;
    letter-spacing: .2rem;
    line-height: 2rem;
    flex-direction:column;
    justify-content: right;
    width:50%;
    
}
.atividades .item1 .item-text1  {
    display: flex;
    font-size: 20px;
    text-align: left;
    letter-spacing: .2rem;
    line-height: 2rem;
    flex-direction:column;
    justify-content: right;
    width:90%;
}
.atividades .item2 .item-text2  {
    display: flex;
    font-size: 20px;
    text-align: right;
    letter-spacing: .2rem;
    line-height: 2rem;
    flex-direction:column;
    justify-content: right;
    width:55%;
}
.atividades .item3 .item-text3  {
    display: flex;
    font-size: 20px;
    text-align: left;
    letter-spacing: .2rem;
    line-height: 2rem;
    flex-direction:column;
    justify-content: right;
    width:50%;
}
.atividades .item4 .item-text4  {
    display: flex;
    font-size: 20px;
    text-align: right;
    letter-spacing: .2rem;
    line-height: 2rem;
    flex-direction:column;
    justify-content: right;
    width:56%;
}
.atividades .item5 .item-text5  {
    display: flex;
    font-size: 20px;
    text-align: left;
    letter-spacing: .2rem;
    line-height: 2rem;
    flex-direction:column;
    justify-content: right;
    width:50%;
}
.atividades .item6 .item-text6  {
    display: flex;
    font-size: 20px;
    text-align: right;
    letter-spacing: .2rem;
    line-height: 2rem;
    flex-direction:column;
    justify-content: right;
    width:64%;
}
.atividades .item8 .item-text8  {
    display: flex;
    font-size: 20px;
    text-align: left;
    letter-spacing: .2rem;
    line-height: 2rem;
    flex-direction:column;
    justify-content: right;
    width:110%;
}
.atividades .item .item-text h3 {
    color: darkolivegreen;
    font-size: 30px;
    text-align: right;
    font-weight: 80px;
    margin-bottom: 30px;
    font-weight: bold;
}
.atividades .item1 .item-text1 h3 {
    color: darkolivegreen; 
    font-size: 30px;
    text-align: left;
    font-weight: 80px;
    margin-bottom: 30px;
    font-weight: bold;
}
.atividades .item2 .item-text2 h3 {
    color: darkolivegreen; 
    font-size: 30px;
    text-align: right;
    font-weight: 80px;
    margin-bottom: 30px;
    font-weight: bold;
}
.atividades .item3 .item-text3 h3 {
    color: darkolivegreen;
    font-size: 30px;
    text-align: left;
    font-weight: 80px;
    margin-bottom: 30px;
    font-weight: bold;
}
.atividades .item4 .item-text4 h3 {
    color: darkolivegreen; 
    font-size: 30px;
    text-align: right;
    font-weight: 80px;
    margin-bottom: 30px;
    font-weight: bold;
}
.atividades .item5 .item-text5 h3 {
    color: darkolivegreen; 
    font-size: 30px;
    text-align: left;
    font-weight: 80px;
    margin-bottom: 30px;
    font-weight: bold;
}
.atividades .item6 .item-text6 h3 {
    color: darkolivegreen; 
    font-size: 30px;
    text-align: right;
    font-weight: 80px;
    margin-bottom: 30px;
    font-weight: bold;
}
.atividades .item8 .item-text8 h3 {
    color: darkolivegreen;
    font-size: 30px;
    text-align: left;
    font-weight: 80px;
    margin-bottom: 30px;
    font-weight: bold;
}
.clients {
    background-image: linear-gradient(white, rgb(103, 138, 41));
}
.clients .text {
    text-align: left;
}
.clients .text h2 {
    font-size: 70px;
    letter-spacing: 0.2rem;
    font-weight: bolder;
    margin-top: 5rem;
    margin-bottom: 2rem;
    text-shadow: 0.1em 0.1em 0.2em rgb(74, 92, 8);
}
.clients .text p {
    font-size: 1.8rem;
    text-shadow: 0.2em 0.4em 0.5em darkolivegreen;
    margin-bottom: 5rem;
}
.clients .containerCards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    padding: 0px 50px 0px 50px;
}
.clients .containerCards .left {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 60%;
    margin-right: 80px;

}
.clients .containerCards .left .card.vertical {
    width: 400px;
    height: 400px;
    margin-top: 50px;
}
.clients .containerCards .right {
    display:flex;
    flex-direction: column;
    width: 80%;
    margin-top: 50px;
    padding-top: 50px;
}
.clients .containerCards .right .card.horizontal {
    width: 500px;
    height: 300px;
}
.clients .containerCards .right .card.retangular {
    margin-top: 40px;
    width: 300px;
    height: 550px;
    margin-top:70px;
}
.clients .containerCards .card {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 40px 20px 10px 30px;
    box-shadow: 2px 2px 6px 2px rgb(0, 0, 0);
    text-align: left;
    border-radius: 10px;
    min-width: 400px;
}
.clients .containerCards .card .cardContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    margin-top: 5%;
}
.clients .containerCards .card .cardContent .person {
    display: flex;
    align-items: center;
    padding: 30px;
}
.clients .containerCards .card .cardContent .person .image {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 100px;
}
.clients .containerCards .card .cardContent .person .text-content {
    margin-left: 20px;
}
.clients .containerCards .card .cardContent .person h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
}
.clients .containerCards .card .cardContent .person span {
    font-size: 0.8rem;
    color: grey;
}
.clients .containerCards .card h3 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    font-weight: bolder;
    color: darkolivegreen;
}
.clients .containerCards .card q {
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 2rem;
    padding-left: 30px;
    position: relative;
}
.clients .containerCards .card q::before {
    content:'\201C';
    font-style: italic;
    font-size: 4rem;
    color:rgb(103, 138, 41);
    position: absolute;
    top: 5px;
    left: -10px;
}
.atendimento .text-context {
    margin: 30px 0px 80px 0px;
    
}
.atendimento .text-content h2 {
    font-size: 70px;
    font-weight: bolder;
    letter-spacing: 0.2rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
    text-shadow: 0.1em 0.1em 0.2em darkolivegreen;
}
.atendimento .text-content p {
    font-size: 1.8rem;
    text-align: center;
    text-shadow: 0.2em 0.4em 0.5em darkolivegreen;
}
.atendimento .cards {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    padding: 0px 20px 0px 20px;
}
.atendimento .cards .card {
    display: flex;
    align-items: center;
    flex-basis: 25%;
    justify-content: space-between;
    background-color: white;
    padding: 50px 30px 30px 50px; 
    box-shadow: 2px 2px 6px 2px rgb(81, 102, 7);
    border-radius: 10px;
    min-width: 50px;
    height: 150px;
    width: auto;
}
.atendimento .cards .card .cardContent {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.atendimento .cards .card .cardContent .time {
    top: 0px;
    width: 150px;
    align-items: center;
    margin: 10px;
}
.atendimento .cards .card h3 {
    margin-top: 24px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    position: relative;
    color: darkolivegreen; text-shadow: 0.1em 0.3em 0.4em rgb(129, 128, 128);
}
.photos {
    height: 80%;
    margin-left: 10%;
}
.photos .images {
    margin: 50px 0px 80px 0px;
}
.photos .images h2 {
    font-size: 70px;
    font-weight: bolder;
    letter-spacing: 0.2rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
    text-shadow: 0.1em 0.1em 0.2em darkolivegreen;
}
.photos .images p {
    font-size: 1.8rem;
    margin-bottom: 5rem;
    margin-left: 100px;
    text-shadow: 0.2em 0.4em 0.5em darkolivegreen;
}
.photos .container .galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.photos .images .photo .imagem-padrao {
    width: 80%;
    height: 80%;
    box-shadow: 8px 4px 4px 4px rgb(72, 90, 22);
}
.contato {
    display: absolute;
    margin-top: 30px;
    margin-bottom: 20%;
    height: 80vh;
    
}
.contato .text-content h2 {
    font-size: 70px;
    font-weight: bolder;
    letter-spacing: 0.2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-shadow: 0.1em 0.1em 0.2em darkolivegreen;
}
.contato form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    width: 45%
}
.contato form .row {
    display: flex;
    margin-bottom: 20px;
    height: 100%;
    width: 100%;
}
.contato form .row .input-field {
    display: flex;
    flex-direction: column;
    margin: 0px 20px 0px 20px;
    width: 100%;
}
.contato form .row .input-field input {
    padding: 5px;
    border-radius: 4px;
    font-size: 1.2rem;
    width: 100%;
    border: 1px solid rgb(63, 71, 26);
}
.contato form .row .input-field label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: darkolivegreen; text-shadow: 0.1em 0.3em 0.7em rgb(129, 128, 128);
}
.contato form .row .input-field textarea {
    padding: 5px;
    border-radius: 4px; 
    width: 100%;
    resize: vertical;
    font-size: 1.2rem;
    border: 1px solid rgb(63, 71, 26);
}
.contato form .buttonForm button {
    font-size: 15px;
    padding:5%;
    border-radius: 5px;
    width: 100px;
    color: rgb(17, 17, 17);
    box-shadow: 3px 3px 3px 3px rgba(17, 17, 17, 0.2);
    border: 1px solid rgb(0, 0, 0);
    height: 50px;
}
.contato form .buttonForm button:hover {
    border: 2px solid rgb(78, 78, 78);
    box-shadow: 6px 6px 6px 6px rgba(255, 255, 255, 0.2);
    transition: 0.1s;
}
.contato form .buttonForm button a {
    text-decoration: none;
    color: black;
}
footer {
    height: 30vh;
    background-color: darkolivegreen;
    padding: 40px 40px 0px 80px;
}
footer .rowFooter {
    display:flex;
    justify-content: flex-start;
    
}
footer .rowFooter img {
    border-radius: 3%;

}
footer .rowFooter .footerContent {
    display: flex;
    justify-content: space-evenly;
    width: 100%; 
}
footer .rowFooter li {
    color: white;
    margin-bottom: 10px;
    letter-spacing: .1rem;
}
footer .rowFooter li a {
    color: white;
    text-decoration: none;
}
footer .rowFooter li a:hover {
    box-shadow: 1px 6px 1px 1px darkolivegreen;
    color: rgb(0, 0, 0);
    transition: 0.5s;
}
footer .rowFooter li i {
    color: rgb(255, 255, 255);
    margin-right: 10px;
}
footer .rowFooter h3 {
    color: white;
    font-size: 1.3rem;
    margin-bottom: 20px;
    font-weight: bolder;
    letter-spacing: .2rem;
}
footer .rowFooter .contatoFooter .socialMedia {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}
